#botoesPrin{
    padding-top: 1%;
}

#botoesPrin #imp {
padding-left: 42%;
 padding-right: 0.8%;
}

input:focus{
    outline: none;
}

#botoesPrin #inpro {
    padding-right: 0.8%;
}

#botoesPrin #oncall {
    padding-right: 0.8%;
}

#botoesPrin #attempt {
    padding-right: 0.8%;
}

#botoesPrin #inactive {
    padding-right: 0.8%;
}

#botoesSec {
    padding-top: 0.8%;
}

#botoesSec #gtmBtn { 
    padding-left: 48.5%
}

#botoesSec #tasksBtn { 
    padding-left: 0.9%
}
